.comming {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -30px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.loading {
  color: var(--main-color);
}

.title {
  color: var(--main-color);
}

.text {
  color: var(--grey-color);
}

.view {
  cursor: pointer;
  color: var(--main-color);
}

