/* ==================================================
  Базовые стили (Десктоп)
   ================================================== */
.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  background-color: white;
  border-radius: 14px;
  border: none;
  margin: 3rem auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.wrapper {
  width: 90%;
  margin: 1rem auto;
}

.title {
  color: black;
  margin: 0;
}

.desc {
  font-size: 16px;
  color: var(--grey-color);
}

.tags {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fef2f2;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  width: 175px; /* Фиксированная ширина на десктопе */
}

.label {
  color: var(--grey-color);
  margin: 0;
}

.text {
  color: black;
  margin: 0;
  text-align: center;
}

.btn {
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  width: 90%;
  margin: 3rem auto;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 18px;
}

.btn:hover {
  transition: 0.3s ease;
  background-color: #e53935;
}

.edit {
  cursor: pointer;
  color: var(--main-color);
  font-weight: bold;
}

/* ==================================================
  Адаптация для телефонов (max-width: 600px)
   ================================================== */
@media (max-width: 600px) {
  .about {
    /* Уменьшение отступов и тени */
    margin: 1.5rem auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .wrapper {
    width: 95%; /* Контролирует общий отступ от края экрана */
    margin: 1rem auto;
  }

  .tags {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .desc {
    font-size: 14px;
  }


  .tag {
    width: 85%;
    padding: 15px 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .label {
    font-size: 14px;
    text-align: left;
  }

  .text {
    font-size: 16px;
    text-align: right;
  }

  /* --- Кнопка --- */
  .btn {
    /* Кнопка на 95% ширины, уменьшенные отступы */
    width: 95%;
    padding: 0.75rem 1rem;
    margin: 2rem auto;
    font-size: 16px;
  }
}
