.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  background-color: white;
  border-radius: 14px;
  border: none;
  margin: 3rem auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.wrapper {
  width: 90%;
  margin: 1rem auto;
}

.title {
  color: black;
  margin: 0;
}

.desc {
  font-size: 16px;
  color: var(--grey-color);
}

.tags {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fef2f2;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  width: 175px;
}

.label {
  color: var(--grey-color);
  margin: 0;
}

.text {
  color: black;
  margin: 0;
}

.btn {
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  width: 90%;
  margin: 3rem auto;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 18px;
}

.btn:hover {
  transition: 0.3s ease;
  background-color: #e53935;
}

.edit {
  cursor: pointer;
  color: var(--main-color);
  font-weight: bold;
}
