.input_container {
  position: relative;
}

.label {
  position: absolute;
  margin: 0 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 2px;
  color: var(--main-color);
  transition: 0.2s;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.inp {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: transparent;
  width: 200px;
  color: var(--black-color);
  padding: 0.5rem 1rem;
}

.inpArea {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: transparent;
  width: 200px;
  min-height: 100px;
  height: auto;
  color: var(--black-color);
  padding: 0.5rem 1rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

.inp:focus {
  outline: none;
}

.input_container input:focus + .label,
.input_container input:not(:placeholder-shown) + .label {
  top: 0;
  font-size: 12px;
  z-index: 1;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.inp:focus + .label {
  color: var(--main-color);
}

@media (max-width: 600px) {
  /* --- Контейнер (input_container) --- */
  .input_container {
    /* Родитель должен занимать 100% ширины .con, который 100% ширины .form */
    width: 100%;
    margin-bottom: 0.5rem;
  }

  /* --- Поля ввода (input/textarea) --- */
  .inp,
  .inpArea {
    width: 100%;
    padding: 0 1rem;
    min-height: 50px;

    /* ГАРАНТИЯ: box-sizing предотвращает выход за границы из-за padding */
    box-sizing: border-box;
  }

  /* --- Кнопка "Show/Hide Password" --- */
  .showPasswordBtn {
    /* КЛЮЧЕВОЕ: Сбросить абсолютное позиционирование, которое может быть установлено, 
           и настроить его внутри поля пароля. */

    /* Если кнопка стоит рядом с Input: */
    display: block; /* Сделать ее блочным элементом */
    width: auto;

    /* ИЛИ: Если она абсолютно позиционируется внутри .con: */
    position: absolute; /* Оставить, если она накладывается на поле */
    right: 15px; /* Сдвинуть вправо с учетом padding формы */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

  }
}
