.authPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  background-color: white;
  padding: 2rem 20px;
  min-height: 350px;
  height: auto;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.title {
  color: var(--main-color);
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.auth__line {
  border: 1px solid var(--main-color);
  width: 90%;
  margin: 0;
}

.auth__loginHead {
  color: var(--main-color);
  margin-bottom: 0;
}

.otherAuth {
  font-size: 16px;
  cursor: pointer;
  color: #4492e6;
  margin: 0;
}

.showPasswordBtn {
  cursor: pointer;
  background: none;
  border: none;
  color: rgb(83, 83, 83);
}