.eventPage {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* минимум экран, но больше если контента много */
}

.mainContent {
  flex: 1; /* занимает всё оставшееся место */
}
