.home {
  width: 100%;
  height: 100vh;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.black {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    /* Направление: от нижней части к верхней */ rgba(0, 0, 0, 0.8) 0%,
    /* Начинаем с черного 80% прозрачности внизу */ rgba(0, 0, 0, 0.5)
      50%,
    /* В середине черный 50% прозрачности */ rgba(0, 0, 0, 0) 100%
      /* Заканчиваем полностью прозрачным черным вверху */
  );
}

.img__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;      
  object-fit: cover;    
  object-position: center; 
  z-index: 1; 
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  height: 80%;
  color: white;
  background: none;
}

.heading {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tag {

}

.title {

}

.info {
  display: flex;
  gap: 1rem;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

