.hero {
  position: relative;
  width: 100%;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  color: white;
  background: none;
}

.black {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right, /* Направление: от нижней части к верхней */
    rgba(0, 0, 0, 0.8) 0%,   /* Начинаем с черного 80% прозрачности внизу */
    rgba(0, 0, 0, 0.5) 50%,  /* В середине черный 50% прозрачности */
    rgba(0, 0, 0, 0) 100%    /* Заканчиваем полностью прозрачным черным вверху */
  );
}

.title__event {
  font-size: 48px;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.info__item p {
  font-size: 16px;
}

.btn__buy {
  color: white;
  background-color: var(--main-color);
  font-size: 14px;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

