.section_orgs {
  width: 100%;
  margin-top: 3rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--main-color);
  cursor: pointer;
}

.title {
  color: var(--main-color);
  margin: 0;
}

.orgs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
}

.org {
  margin-top: 3rem;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border-radius: 14px;
  width: 220px;
  height: 100px;
  color: white;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
  padding: 0;
  transition: top .4s ease, box-shadow .4s ease;
  cursor: pointer;
  border: none;
  background-color: var(--main-color);
}

.org:hover {
  color: #000;
  top: -10px;
  transition: .4s;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.05);
}