.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 70px;
}

.black {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    /* Направление: от нижней части к верхней */ rgba(0, 0, 0, 0.8) 0%,
    /* Начинаем с черного 80% прозрачности внизу */ rgba(0, 0, 0, 0.5)
      50%,
    /* В середине черный 50% прозрачности */ rgba(0, 0, 0, 0) 100%
      /* Заканчиваем полностью прозрачным черным вверху */
  );
}

.img__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  height: 80%;
  color: white;
  background: none;
  padding-top: 1rem;
}

.heading {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tag {
  margin-bottom: 2rem;
  background-color: var(--main-color);
  color: white;
  padding: 0 10px;
  border-radius: 8px;
}


.info {
  display: flex;
  gap: 1rem;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .hero {
    /* Уменьшаем высоту, но сохраняем видимость изображения */
    height: 300px;
    /* Уменьшаем margin-top, так как хедер на мобильных обычно ниже */
    margin-top: 60px;
  }

  .img__banner {
    width: 100%;
  }

  .container {
    /* Убеждаемся, что контент занимает почти всю ширину */
    width: 95%;
    align-items: start;
    justify-content: start;
    height: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
  }

  .heading {
    /* На мобильных часто выравнивают заголовок по центру для лучшего вида */
    align-items: start;
    text-align: center;
    gap: 0;
    margin-top: 25%;
  }

  .title {
    margin: 0;
    font-size: 1.8rem; /* Уменьшаем размер заголовка */
  }

  .tag {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .info {
    /* Переносим элементы информации (дата, место) в столбец */
    flex-direction: column;
    gap: 0;
  }

  .info__item {
    font-size: 0.9rem;
    margin: 0;
  }
}
