.loading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.loadCard {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 16px;
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.5s ease;
  animation: pulse 1.5s infinite;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
}

.loadCard:hover {
  transform: scale(1.10);
}

.image {
  width: 100%;
  height: 120px;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.textLine {
  width: 100%;
  height: 16px;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.textLineShort {
  width: 60%;
  height: 16px;
  background-color: #e0e0e0;
  border-radius: 8px;
}

/* Пульсирующая анимация */
@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

@media (max-width: 600px) {
  .loading {
    margin: 0;
    width: 90%;
    grid-template-columns: 1fr;
    gap: 2rem; /* Увеличиваем разрыв между карточками */
  }

  .loadCard {
    width: 90%;
    max-width: 340px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Более мягкая тень */
  }
}
