.card {
  background-color: #fff;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 233px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 50%;
  border: none;
  padding: 1rem;
}

.green {
  background-color: #DCFCE7;
}

.blue {
  background-color: #DBEAFE;
}

.red {
  background-color: #FFE2E2;
}

.label {
  color: var(--grey-color);
  font-size: 16px;
  text-align: center;
}

.value {
  margin: 0;
  font-size: 32px;
  background-color: white;
}

.value_blue {
  color: #155DFC;
}

.value_green {
  color: #00A63E;
}

.value_red {
  color: #E53935;
}



