.card {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 14px;
  width: 370px;
  height: auto;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
  padding: 0;
  transition: top .4s ease, box-shadow .4s ease;
  cursor: pointer;
}

.card:hover {
  top: -10px;
  transition: .4s;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.05);
}

.image__container {
  margin: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 14px 14px 0 0;
}

.price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--main-color);
  padding: 0 5px;
  border-radius: 5px;
}

.img__card {
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
  transition: transform .5s ease;
}

.card:hover .img__card {
  transform: scale(1.15);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0;
  width: 90%;
  margin: 0 auto;
}

.tag {
  background-color: #f1b3b2;
  color: var(--main-color);
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}

.info__date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--grey-color);
  margin: 0;
}

.date {
  font-size: 16px;
  margin: 0;
}

.btn {
  width: 100%;
  background-color: var(--main-color);
  border-radius: 8px;
  border: none;
  color: white;
  padding: 0.5rem 0;
  margin: 1rem 0;
  cursor: pointer;
}