.userPage {
  position: relative;
  top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 3rem 0;
}

.load {
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  background-color: none;
}

.list {
  display: flex;
  gap: 2rem;
  width: 100%;
}


.upcomning {
  width: 100%;
}

.title {
  color: black;
}



.listEvents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.empty {
  color: black;
}


/* ============= MOBILE ============= */

@media (max-width: 768px) {
  .userPage {
    padding: 1.5rem 0;
    top: 1rem;
  }

  .wrapper {
    width: 95%;
    align-items: center; /* центрируем */
  }

  .list {
    flex-direction: column;
    gap: 1rem;
  }

  .listEvents {
    grid-template-columns: 1fr; /* одна колонка */
    gap: 1rem;
  }
}
