:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #f9fafb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #a92225;
  --black-color: #242424;
  --grey-color: #4a5565;
  --footer-color: #101828;
}

html,
body {
  height: 100%;
  background-color: #fff;
  scroll-behavior: smooth;
}



body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.success {
  color: green;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
  margin: 0;
  padding: 0;
}

.back {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 0.5rem;
  border-radius: 5px;
  color: var(--main-color);
  transition: 0.4s ease;
  font-weight: bold;
}

.back:hover {
  background-color: #f1b3b2;
  transition: 0.4s ease;
}

@media (max-width: 1024px) {
  :root {
    /* Немного уменьшаем базовый размер шрифта для планшетов */
    font-size: 15px;
  }
}

/* ==================================================
  2. Адаптация для телефонов (max-width: 600px)
   ================================================== */
@media (max-width: 600px) {
  :root {
    /* Устанавливаем меньший базовый размер шрифта для телефонов */
    font-size: 14px;
    line-height: 1.4; /* Можем уменьшить межстрочный интервал */
  }

  body {
    /* Убеждаемся, что нет горизонтальной прокрутки, вызванной margin/padding */
    overflow-x: hidden;
  }

  /* Стили для ссылки "Назад" */
  .back {
    font-size: 12px; /* Уменьшаем размер текста "Назад" */
    padding: 3px 0.3rem;
  }
}
