:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9fafb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #a92225;
  --black-color: #242424;
  --grey-color: #4A5565;
  --footer-color: #101828;
}

html, body {
  height: 100%;
  background-color: #fff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}


.success {
  color: green;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
  margin: 0;
  padding: 0;
}

.back {
  cursor: pointer;
  font-size: 14px;
  padding: 3px 0.5rem;
  border-radius: 5px;
  color: white;
  transition: .4s ease
}

.back:hover {
  color: black;
  background-color: #5c6065;
  transition: .4s ease;
}

